{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>
    <h2>{{ user.nickname }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Surnom</th>
                <td>{{ user.nickname }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ user.picture }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
            {% for mail in user.mail %}
                <th>Message</th>
                <td> {{  mail.content }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-sm btn-primary" href="{{ path('back_user_read') }}">Retour à la liste</a>

    <a class="btn btn-sm btn-primary" href="{{ path('back_user_edit', {'id': user.id}) }}">modifier</a>

    {{ include('admin/user/_delete_form.html.twig') }}
{% endblock %}