{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>
    <h2>{{ user.nickname }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Surnom</th>
                <td>{{ user.nickname }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ user.picture }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ user.zipcode }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
            {% for mail in user.mail %}
                <th>Message</th>
                <td> {{  mail.content }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="post" action="{{ path('admin_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cet utilisateur');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
        <a class="btn btn-sm btn-primary" href="{{ path('admin_user_read') }}">Retour à la liste</a>
        <a class="btn btn-sm btn-primary" href="{{ path('admin_user_update', {'id': user.id}) }}">modifier</a>
        <button class="btn btn-sm btn-danger">Supprimer</button>
    </form>



{% endblock %}