{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block body %}

<h1>Liste des films</h1>

 {{ include('_flash_messages.html.twig') }}

<table class="table">
 
  </thead>
  <tbody>
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
      <th scope="col">Types</th>
      <th scope="col">Genres</th>
      <th scope="col">Statut</th>
      <th scope="col">CreatedAt</th>
      <th scope="col">Utilisateur</th>
    </tr>
  </thead>

  <tbody>
    {% for movie in movies %}
    <tr>
      <th scope="row">{{ movie.id }}</th>
      <td>{{ movie.name }}</td>
      <td>{{ movie.type.name }}</td>
      <td>{% for gender in movie.gender %}{{ gender.name }}{% if not loop.last %} / {% endif %}{% endfor %}</td>
      {% for type in movie.type %}
      <td>{{ movie.type.name }}</td>
      {% endfor %}
      <td>{{ movie.status }}</td>
      <td>{{ movie.createdAt|date('d-m-Y') }}</td>
      <td>{{ movie.user.email }}</td>
      <td><form action="{{ path('admin_movie_delete', {id: movie.id}) }}" onsubmit="return confirm('Supprimer le film #{{ movie.id }} ?')" method="POST">
        <input type="hidden" name="_method" value="DELETE"/>
        <input type="hidden" name="token" value="{{ csrf_token('delete-movie') }}"/>
        <a class="btn btn-sm btn-primary" href="{{ path('admin_movie_update', {id: movie.id}) }}">Modifier</a>
        <button class="btn btn-sm btn-danger" type="submit">Supprimer</button>
      </form></td>
    </tr>
    {% endfor %}


  </tbody>

  </tbody>

</table>


{% endblock %}