{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}


<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-12 col-md-6">
            <div class="card text-dark mb-3">
                <div class="card-header"><h2>Liste des derniers Utilisateurs</h2></div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                        <tbody>

                            {% for user in users %}
                            <tr>
                                <th scope="row">{{ user.id }}</th>
                                    <td>{{ user.email }}</td>
                                    <td class="text-right">
                                         <div class="btn-group">
                                            <form method="post" action="{{ path('admin_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cet utilisateur');">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                                <a class="btn btn-sm btn-primary" href="{{ path('admin_user_update', {'id': user.id}) }}">modifier</a>
                                                <button class="btn btn-sm btn-danger">Supprimer</button>
                                            </form>
                                        </div>
                                    </td>
                            </tr>                              
                            {% endfor %}  

                        </tbody>
                        </table>
                            <a href="{{ path('admin_user_read') }}" class="btn btn-block">Voir plus</a>
                    </div>
                </div>
            </div>

    <div class="col-12 col-md-6">
        <div class="card text-dark mb-3">
            <div class="card-header"><h2>Liste des derniers Films</h2></div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                    <tbody>

                       {% for movie in movies %}
                            <tr>
                                <th scope="row">{{ movie.id }}</th>
                                <td>{{ movie.name }}</td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <form action="{{ path('admin_movie_delete', {id: movie.id}) }}" onsubmit="return confirm('Supprimer le film #{{ movie.id }} ?')" method="POST">
                                            <input type="hidden" name="_method" value="DELETE"/>
                                            <input type="hidden" name="token" value="{{ csrf_token('delete-movie') }}"/>
                                            <a class="btn btn-sm btn-primary" href="{{ path('admin_movie_update', {id: movie.id}) }}">Modifier</a>
                                            <button class="btn btn-sm btn-danger" type="submit">Supprimer</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                       {% endfor %}

                    </tbody>
                    </table>
                        <a href="{{ path('admin_movie_read') }}" class="btn btn-block">Voir plus</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
    <div class="col-12 col-md-6">
        <div class="card text-dark mb-3">
            <div class="card-header"><h2>Liste des derniers Livres</h2></div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                    <tbody>

                       {% for book in books %}
                            <tr>
                                <th scope="row">{{ book.id }}</th>
                                <td>{{ book.name }}</td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <form action="{{ path('admin_book_delete', {id: book.id}) }}" onsubmit="return confirm('Supprimer le livre #{{ book.id }} ?')" method="POST">
                                            <input type="hidden" name="_method" value="DELETE"/>
                                            <input type="hidden" name="token" value="{{ csrf_token('delete-book') }}"/>
                                            <a class="btn btn-sm btn-primary" href="{{ path('admin_book_update', {id: book.id}) }}">Modifier</a>
                                            <button class="btn btn-sm btn-danger" type="submit">Supprimer</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                       {% endfor %}

                    </tbody>
                    </table>
                        <a href="{{ path('admin_book_read') }}" class="btn btn-block">Voir plus</a>
                </div>
            </div>
        </div>

    <div class="col-12 col-md-6">
        <div class="card text-dark mb-3">
            <div class="card-header"><h2>Liste des dernières Musiques</h2></div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                    <tbody>

                       {% for music in musics %}
                            <tr>
                                <th scope="row">{{ music.id }}</th>
                                <td>{{ music.name }}</td>
                                <td class="text-right">                                 
                                    <div class="btn-group">
                                        <form action="{{ path('admin_music_delete', {id: music.id}) }}" onsubmit="return confirm('Supprimer le livre #{{ music.id }} ?')" method="POST">
                                            <input type="hidden" name="_method" value="DELETE"/>
                                            <input type="hidden" name="token" value="{{ csrf_token('delete-music') }}"/>
                                            <a class="btn btn-sm btn-primary" href="{{ path('admin_music_update', {id: music.id}) }}">Modifier</a>
                                            <button class="btn btn-sm btn-danger" type="submit">Supprimer</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                       {% endfor %}

                    </tbody>
                    </table>
                        <a href="{{ path('admin_music_read') }}" class="btn btn-block">Voir plus</a>
                </div>
            </div>
        </div>
    </div>




{% endblock %}