{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}


<div class="container my-4">
        <p class="display-4">
            Bienvenue dans le backOffice <strong>Osmoz</strong>
        </p>

    <div class="row mt-5">
        <div class="col-12 col-md-6">
            <div class="card text-white mb-3">
                <div class="card-header bg-primary">Liste des derniers Utilisateurs</div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                        <tbody>

                            {% for user in users %}
                            <tr>
                                <th scope="row">{{ user.id }}</th>
                                    <td>{{ user.email }}</td>
                                    <td class="text-right">
                                        <a href="" class="btn btn-sm btn-warning">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                         <div class="btn-group">
                                
 
{{ include('admin/user/_delete_form.html.twig') }}
                                            </div>
                                        </div>
                                    </td>
                            </tr>                              
                            {% endfor %}  

                        </tbody>
                        </table>
                            <a href="{{ path('back_user_read') }}" class="btn btn-block btn-success">Voir plus</a>
                    </div>
                </div>
            </div>

    <div class="col-12 col-md-6">
        <div class="card text-white mb-3">
            <div class="card-header bg-primary">Liste des derniers Films</div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                    <tbody>

                       {% for movie in movies %}
                            <tr>
                                <th scope="row">{{ movie.id }}</th>
                                <td>{{ movie.name }}</td>
                                <td class="text-right">
                                    <a href="" class="btn btn-sm btn-warning">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                   
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-danger dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="">Oui, je veux supprimer</a>
                                            <a class="dropdown-item" href="#" data-toggle="dropdown">Oups !</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                       {% endfor %}

                    </tbody>
                    </table>
                        <a href="{{ path('back_movie_read') }}" class="btn btn-block btn-success">Voir plus</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
    <div class="col-12 col-md-6">
        <div class="card text-white mb-3">
            <div class="card-header bg-primary">Liste des derniers livres</div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                    <tbody>

                       {% for book in books %}
                            <tr>
                                <th scope="row">{{ book.id }}</th>
                                <td>{{ book.name }}</td>
                                <td class="text-right">
                                    <a href="" class="btn btn-sm btn-warning">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                   
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-danger dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="">Oui, je veux supprimer</a>
                                            <a class="dropdown-item" href="#" data-toggle="dropdown">Oups !</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                       {% endfor %}

                    </tbody>
                    </table>
                        <a href="{{ path('admin_book_read') }}" class="btn btn-block btn-success">Voir plus</a>
                </div>
            </div>
        </div>

    <div class="col-12 col-md-6">
        <div class="card text-white mb-3">
            <div class="card-header bg-primary">Liste des dernières Musiques</div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                    <tbody>

                       {% for music in musics %}
                            <tr>
                                <th scope="row">{{ music.id }}</th>
                                <td>{{ music.name }}</td>
                                <td class="text-right">
                                    <a href="" class="btn btn-sm btn-warning">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                   
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-danger dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="">Oui, je veux supprimer</a>
                                            <a class="dropdown-item" href="#" data-toggle="dropdown">Oups !</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                       {% endfor %}

                    </tbody>
                    </table>
                        <a href="{{ path('admin_music_read') }}" class="btn btn-block btn-success">Voir plus</a>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}