{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
    <h1>Liste des livres</h1>

    <table class="table">
    <div class="table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre du livre</th>
                <th>Auteur</th>
                <th>Type</th>
                <th>Genre</th>
                <th>Utilisateur<th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.type.name }}</td>
                <td>{{ book.user.email }}</td>
                <td>
                    <a href="{{ path('admin_book_delete', {'id': book.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun livre trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
      </div>
    </table>

{% endblock %}
