{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
    <h1>Liste des livres</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th  scope="col">Id</th>
                <th  scope="col">Titre du livre</th>
                <th  scope="col">Auteur</th>
                <th  scope="col">Type</th>
                <th  scope="col">Genre</th>
                <th  scope="col">Utilisateur<th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <th scope="row">{{ book.id }}</th>
                <td>{{ book.name }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.type.name }}</td>
                <td>{{ book.user.email }}</td>
                <td>
                    <form action="{{ path('admin_book_delete', {id: book.id}) }}" onsubmit="return confirm('Supprimer le livre #{{ book.id }} ?')" method="POST">
                        {# Fake HTTP Method, see https://symfony.com/doc/current/routing.html#matching-http-methods #}
                        <input type="hidden" name="_method" value="DELETE"/>
                        {# CSRF Token manuel see https://symfony.com/doc/current/security/csrf.html#generating-and-checking-csrf-tokens-manually #}
                        <input type="hidden" name="token" value="{{ csrf_token('delete-book') }}"/>
                        <a class="btn btn-sm btn-primary" href="{{ path('admin_book_update', {id: book.id}) }}">Modifier</a>
                        <button class="btn btn-sm btn-danger" type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun livre trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
