{% extends 'base.html.twig' %}

{% block title %}Genres{% endblock %}

{% block body %}
    <h1>Liste des genres</h1>
    
{{ include('_flash_messages.html.twig') }}

    <a class="btn btn-color" href="{{ path('admin_gender_create') }}">Ajouter un genre</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom du genre</th>
            </tr>
        </thead>
        <tbody>
        {% for gender in genders %}
            <tr>
                <th scope="row">{{ gender.id }}</th>
                <td>{{ gender.name }}</td>
                <td>
                    <form action="{{ path('admin_gender_delete', {id: gender.id}) }}" onsubmit="return confirm('Supprimer le genre #{{ gender.id }} ?')" method="POST">

                <td>
                    <form action="{{ path('admin_gender_delete', {id: gender.id}) }}" onsubmit="return confirm('Supprimer le type #{{ gender.id }} ?')" method="POST">

                        {# Fake HTTP Method, see https://symfony.com/doc/current/routing.html#matching-http-methods #}
                        <input type="hidden" name="_method" value="DELETE"/>
                        {# CSRF Token manuel see https://symfony.com/doc/current/security/csrf.html#generating-and-checking-csrf-tokens-manually #}
                        <input type="hidden" name="token" value="{{ csrf_token('delete-gender') }}"/>
                        <a class="btn btn-sm btn-primary" href="{{ path('admin_gender_update', {id: gender.id}) }}">Modifier</a>
                        <button class="btn btn-sm btn-danger" type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun genre trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}